$white: #FFF;
$black: #070724;
$gray-dark: #38384F;
$gray-light: #838391;
$blue: #419EBB;
$blue-dark: #2D64F0;
$orange: #EDA249;
$orange-dark: #D14C32;
$purple: #6F2ED6;
$red: #D83A34;
$brown: #CD5120;
$green: #1EC2A4;
